body {
  font-family: sans-serif;
}
input {
  border-radius: 4px;
}
input:focus {
  border: 2px solid dodgerblue;
  outline: none;
  box-shadow: 0 0 0 3px lightblue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  opacity: 1;
}
label {
  padding-top: 20px;
}
#generateLabel {
  font-size: 0.8em;
  display: flex;
}
#guessLabel,
#msg1,
#msg2 {
  font-size: 0.6em;
}
#generate-input,
#guess-input {
  text-align: center;
  margin-left: 10px;
  height: 25px;
}

.hidden {
  display: none;
}
