body {
  font-family: sans-serif;
}

#guess-form {
  padding-top: 15px;
}

#guess-form div {
  font-size: 0.5em;
  padding-right: 10px;
  display: flex;
}

#generate-input,
#guess-input {
  display: flex;
}

.hidden {
  display: none;
}
